<footer class="animate-me">
  <p>
    Gorazd Guštin | 
    +39 333 46 88 472 | 
    <a href="mailto:gorazd@qua.si">gorazd@qua.si</a> | 
    <a href="https://qua.si">qua.si</a> | 
    Milan, Italy | 
    <a href="https://github.com/gorazd/application">github.com/gorazd/application</a>
  </p>
</footer>
