<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="view-transition" content="same-origin" />
  <title>{{ title }} | Gorazd Guštin</title>
  <meta name="description" content="{{ description | default('') }}">
  <link rel="preload" href="/fonts/subset-PPSupplyMono-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/subset-PPSupplySans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  {%- css %}{% include "public/css/screen.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>
  {%- cssprint %}{% include "public/css/print.css" %}{% endcssprint %}
  <style media="print">{% getBundle "cssprint" %}</style>
</head>
<body>
  <header>
    <nav>
      <ul>
      {% for item in navigation %}
        <li>
          <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">{{ item.label }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
    <span>
    <button id="theme-toggle" class="button" aria-label="Toggle dark mode">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
    </button>
    <button id="print-button" class="button" aria-label="Print page">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
    </button>
    </span>
  </header>
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  <script src="/js/main.js"></script>
</body>
</html>
